.modal-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: 800px;
    padding: 20px;
    margin: 12px;
    background: #fff;
}

.hide {
    display: none;
}