body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

/* .container {
    width: 80%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 5px;
    background: bisque;
}

@media screen and (max-width: 600px) {
    .container{
        background: pink;
    }
} */

#test {
    height: 100px;
    width: 600px;
    margin: 50px;
    background: yellow;
    position: relative;
}

#test2 {
    height: 100px;
    width: 10px;
    background: blue;
    position: absolute;
    left: 290px;
}