.tabs {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}

ul {
    padding-left: 0;
}

.tab {
    cursor: pointer;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
}

.flex {
    display: flex;
}

.align-center {
    justify-content: center;
}

.align-vert, .align-vert.align-center {
    align-items: center;
}

.tab-body {
    padding: 10px;
}

.active {
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}